@keyframes slidein {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes notif-slide-in {
    from {
        transform: translateX(120%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes notif-slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(120%);
        opacity: 0;
    }
}


body {
    background-color: #1E1E2F;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

    color: #F5F5F5;
}

button,
section,
input,
select {
    border-radius: 10px;
}

button,
select {
    cursor: pointer;
}

header {
    text-align: center;
}

.part1 {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

section {
    padding: 1em;

    background-color: #2b2b40;
}

button {
    border: 0;
    color: #F5F5F5;
    padding: 0.8em;
    margin: 0.4em;
    font-weight: bold;
}

.btnMsg {
    margin-top: 1em;

    display: flex;
    flex-direction: column;
}

#btnSend {
    background-color: #38b000;
}

#btnSendMute {
    background-color: #6c757d;
}

#btnDelete {
    background-color: #d62828;
}

#btnShowScore {
    background-color: #232e5b;
    width: 25em;
}

#btnShowScore a {
    color: #F5F5F5;
    text-decoration: none;
}

.terrainPhone {
    display: flex;
}


div.terrainPhone p {
    margin: 0;
}

div.terrainPhone {

    display: flex;
    align-items: center;

    margin: 0.5em 0 0.5em;
}

.terrainPhone input {
    height: 2em;
    background-color: #1b1f38;
    color: #F5F5F5;
    border: 0;
    width: 10em;
    margin-left: 2em;
    padding: 5px 10px;
    text-align: center;
}

#managePhonesSection {
    flex-basis: 40em;
}

.mainblock {
    margin: 1em;
}

#secondPart {
    flex-basis: 20em;
}

#manageMessage input {
    height: 2.2em;
    background-color: #1b1f38;
    color: #F5F5F5;
    border: 0;
    width: 22em;
    padding: 5px 10px;
}

#manageMessage input::placeholder {
    color: #979cb2;
}

.notificationBar {
    position: fixed;

    right: 1em;
    top: 1em;

    width: 20em;
}

.notif {
    position: relative;
    padding: 10px 1em 10px 1em;
    margin: 10px 0;

    animation: notif-slide-in 0.6s ease-out forwards;
}

.closing {
    animation: notif-slide-out 0.6s ease-in forwards;
}

.notif h5,
.notif p {
    padding: 0;
    margin: 0;
}

.successNotif {
    border: 1px solid #38b000;
    background-color: rgba(166, 255, 117, 0.3);
}

.errorNotif {
    border: 1px solid #d62828;
    background-color: rgba(235, 157, 157, 0.3);
}

.infoNotif {
    border: 1px solid #FFA726;
    background-color: rgba(255, 185, 82, 0.3);
}

.progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    transform-origin: left;
    animation: slidein 4.99s linear forwards;
}

.errorProgressBar {
    background: #d62828;
}

.successProgressBar {
    background: #38b000;
}

.infoProgressBar {
    background: #FFA726;
}



.logs {
    margin: 1em 5em;
}

.logList {
    height: 10.2em;
    background-color: black;
    padding: 0.4em;
    overflow-y: auto; 
}

.logList p {
    padding-left: 0.2em;
}

.paragraphFloor {
    padding-left: 1em;
    font-size: 13px;
}


.notifMsg {
    margin: 0;
}